---
import { DotLottieVue } from '@lottiefiles/dotlottie-vue'
import { Image } from 'astro:assets'
import imageService from '../assets/images/homepage/services.png'
import ButtonMain from '../components/ButtonMain.astro'
import WavesDesktop from '../components/waves/WavesDesktop.astro'
import WavesMobile from '../components/waves/WavesMobile.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'

const solutions = [
  {
    title: 'Ingénierie',
    lottiePath: '/assets/lottie/ingenieurie.lottie',
    link: '/services/entreprises/ingenierie-formation',
  },
  {
    title: 'Coaching',
    lottiePath: '/assets/lottie/coaching.lottie',
    link: '/services/particuliers/coaching',
  },
  {
    title: 'Formations',
    lottiePath: '/assets/lottie/formation.lottie',
    link: '/services/entreprises/creation-de-formation',
  },
]

const testimonials = [
  {
    name: 'Jean-baptiste Dupont',
    rating: 5,
    title: 'Je recommande vivement !',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
  },
  {
    name: 'Jean-baptiste Dupont',
    rating: 5,
    title: 'Je recommande vivement !',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
  },
  {
    name: 'Jean-baptiste Dupont',
    rating: 5,
    title: 'Je recommande vivement !',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
  },
]
---

<DefaultLayout title="Home">
  <section class="container relative my-12 min-h-[60vh] lg:min-h-[50vh] flex flex-col items-center justify-center">
    <h1 class="mb-10 text-2xl font-bold md:mb-6 lg:text-3xl xl:text-4xl">Pep’s Consult</h1>
    <p class="text-center text-base font-medium lg:text-lg">
      Votre <span class="text-primary">réussite</span> commence ici, des formations <span class="text-primary"
        >sur mesure</span
      > pour chaque ambition.
    </p>
    <ButtonMain text="Prendre rendez-vous" href="/contact" class="mt-20 md:mt-10 h-10 md:h-[60px] md:px-10" />
    <div class="hidden waves:block pointer-events-none absolute left-0 w-full scale-[3] sm:scale-150 md:scale-110 lg:scale-125 xl:scale-150 opacity-50 -z-10 top-[10vh]">
        <WavesDesktop/>
    </div>
    <div class="waves:hidden pointer-events-none absolute left-0 w-full scale-[2.2] -z-10 top-[10vh] opacity-50">
        <WavesMobile/>
    </div>
  </section>

  <section class="container relative my-12 mt-28 flex flex-col items-center justify-center lg:mt-60">
    <h2 class="mb-10 mr-auto w-full max-w-[868px] text-lg font-bold md:text-xl xl:text-2xl">
      Des solutions adaptées pour chaque étape de votre parcours
    </h2>
    <div class="flex items-stretch w-full justify-center gap-12 lg:gap-24 max-md:flex-col">
      {
        solutions.map((solution) => (
          <a href={solution.link} class="flex flex-col items-center justify-end gap-4 lg:gap-6">
            <DotLottieVue client:load class="size-[300px] md:size-[200px] lg:size-[250px] xl:size-[350px]" autoplay loop src={solution.lottiePath} />
            <h3 class="text-lg font-bold text-primary">{solution.title}</h3>
          </a>
        ))
      }
    </div>
  </section>

  <section class="container relative my-12 mt-28 flex flex-col items-center justify-center lg:mt-48">
    <h2 class="mb-10 mr-auto w-full max-w-[868px] text-lg font-bold md:text-xl xl:text-2xl">
      Un service sur mesure, un engagement total&nbsp;: <br class="max-md:hidden" /> voici pourquoi me choisir
    </h2>
    <div class="flex items-start justify-between gap-10 max-md:flex-col md:gap-12 xl:gap-24">
      <div class="flex flex-col gap-4">
        <article>
          <h3 class="font-satoshi font-bold text-primary">Une Expertise Complète :</h3>
          <p>
            Avec une solide expérience en ingénierie de formation, coaching, et formation de formateurs, je vous apporte
            un <b>savoir-faire</b> éprouvé pour <b>transformer vos défis en opportunités de croissance</b>.
          </p>
        </article> 
        <article>
          <h3 class="font-satoshi font-bold text-primary">Une Approche sur Mesure :</h3>
          <p>
            Chaque projet est unique. Je conçois des <b>solutions pédagogiques adaptées à vos besoins spécifiques</b>, en
            utilisant des méthodes innovantes comme la ludopédagogie et les outils pédagogiques interactifs pour
            maximiser l'engagement et l'<b>efficacité de vos formations</b>.
          </p>
        </article>
        <article>
          <h3 class="font-satoshi font-bold text-primary">Une Vision Innovante :</h3>
          <p>
            Je suis constamment à l'affût des dernières tendances en <b>formation et pédagogie</b>. Que ce soit pour reformater
            vos <b>formations existantes ou créer de nouveaux programmes</b>, je mets un point d'honneur à intégrer les
            <b>meilleures pratiques pour des résultats concrets</b>.
          </p>
        </article>
        <article>
          <h3 class="font-satoshi font-bold text-primary">Un Engagement Total :</h3>
          <p>
            Votre réussite est ma priorité. Je m'investis pleinement dans <b>chaque projet</b>, en mettant à votre service mon
            écoute, ma réactivité, et mon <b>accompagnement personnalisé</b> pour vous garantir une expérience enrichissante et
            des résultats durables.
            <br /> Choisir de travailler avec moi, c'est opter pour une partenaire dédiée à l'amélioration continue de vos
            compétences et de vos outils pédagogiques. <b>Ensemble, nous bâtirons des formations qui font la différence</b>.
          </p>
        </article>
      </div>
      <div class="md:sticky md:top-6 md:min-w-[260px] md:max-w-[260px] xl:min-w-[434px] xl:max-w-[434px]">
        <Image src={imageService} alt="Services illustration" class="h-auto w-full" draggable="false" />
      </div>
    </div>
  </section>
  <section class="container relative my-12 mt-28 flex flex-col items-center justify-center lg:mt-48">
    <h2 class="mb-10 mr-auto w-full max-w-[868px] text-lg font-bold md:text-xl xl:text-2xl">
      La satisfaction de mes clients, ma plus grande réussite
    </h2>
    <div class="grid w-full grid-cols-1 gap-6 max-md:flex-col lg:grid-cols-3">
      {
        testimonials.map((testimonial) => (
          <article class="flex w-full flex-col  justify-end gap-6 rounded-2xl border border-secondary p-6">
            <h3 class="text-lg font-bold">{testimonial.name}</h3>
            <div class="flex gap-1">
              {Array.from({ length: testimonial.rating }).map((_, _i) => (
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.0489 0.927049C11.3483 0.0057385 12.6517 0.00573993 12.9511 0.927051L14.9187 6.98278C15.0526 7.3948 15.4365 7.67376 15.8697 7.67376H22.2371C23.2058 7.67376 23.6086 8.91338 22.8249 9.48278L17.6736 13.2254C17.3231 13.4801 17.1764 13.9314 17.3103 14.3435L19.2779 20.3992C19.5773 21.3205 18.5228 22.0866 17.7391 21.5172L12.5878 17.7746C12.2373 17.5199 11.7627 17.5199 11.4122 17.7746L6.2609 21.5172C5.47719 22.0866 4.42271 21.3205 4.72206 20.3992L6.68969 14.3435C6.82356 13.9314 6.6769 13.4801 6.32642 13.2254L1.17511 9.48278C0.391392 8.91338 0.794168 7.67376 1.76289 7.67376H8.13026C8.56349 7.67376 8.94744 7.3948 9.08132 6.98278L11.0489 0.927049Z"
                    fill="#4147B9"
                  />
                </svg>
              ))}
            </div>
            <h4 class="font-satoshi text-lg font-bold">{testimonial.title}</h4>
            <p class="text-base">{testimonial.content}</p>
          </article>
        ))
      }
    </div>
  </section>
</DefaultLayout>
