---
import { Image } from 'astro:assets'
import IconBrain from '../../../assets/images/services/cerveau.png'
import IconDiscuss from '../../../assets/images/services/discussion.png'
import IconMeca from '../../../assets/images/services/engrenage.png'
import IconBook from '../../../assets/images/services/livre-ouvert.png'
import WavesDesktop2 from '../../../components/waves/WavesDesktop2.astro'
import DefaultLayout from '../../../layouts/DefaultLayout.astro'

const cards = [
  {
    title: 'Mise à niveau',
    description:
      'Renforcez et actualisez vos compétences avec des formations ciblées, conçues pour répondre aux exigences actuelles et booster votre performance.',
    icon: IconBook,
    link: '/services/entreprises/mise-a-niveau',
  },
  {
    title: 'Ingénierie formation',
    description:
      'Conception sur mesure de parcours pédagogiques innovants, adaptés à vos besoins, pour maximiser l’impact et la performance de vos formations.',
    icon: IconMeca,
    link: '/services/entreprises/ingenierie-formation',
  },
  {
    title: 'Formation formateur',
    description:
      'Développez vos compétences en transmission grâce à des méthodes pédagogiques sur mesure, conçues pour engager et inspirer vos apprenants.',
    icon: IconDiscuss,
    link: '/services/entreprises/formation-formateur',
  },
  {
    title: 'Création de formation',
    description:
      'Concevez des parcours pédagogiques sur mesure, innovants et engageants, pour maximiser l’impact de vos formations.',
    icon: IconBrain,
    link: '/services/entreprises/creation-de-formation',
  },
]
---

<DefaultLayout title="Services pour les entreprises">
  <section class="services-pages container my-12">
    <h1 class="page-title">Nos services pour les entreprises&nbsp;:</h1>

    <div class="card-grid">
      {
        cards.map((card) => (
          <a
            href={card.link}
            class="card"
          >
            <Image class="image" src={card.icon} alt={card.title} draggable="false" />
            <h2 class="title">{card.title}</h2>
            <p>{card.description}</p>
          </a>
        ))
      }
    </div>
  </section>

  <div class="pointer-events-none absolute left-0 w-full scale-[5] lg:scale-[1.1] -z-10 top-[10vh] opacity-50">
    <WavesDesktop2 />
  </div>
</DefaultLayout>
